# deps
node_modules/
frontend/node_modules/
backend/.venv/
.venv/

# builds
.next/
dist/
build/

# env / secrets
.env
.env.*

# logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# backups & temp
_backup/
tmp/
**/*Zone.Identifier

# OS
.DS_Store
Thumbs.db
